.age-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.age-container .age-subcontainer {
    position: absolute;
    margin-top: 0.5rem;
}

#face-image {
    max-width: 700px;
    position: relative;
    /* width: 70vw; */
}

@media (max-width: 37.5em) {
    #face-image {
        width: 50vw;
    }
}

#age-number {
    color: #c5e60c;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

@media (max-width: 37.5em) {
    #age-number {
        max-width: 38rem;
    }
}

.age-image {
    position: relative;
    transition: all .2s ease-out;
}
.age-image:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1400px) {
    .modal-window {
        left: 30%;
        top: 160%;
    }
}

@media (min-width: 601px) {
    .modal-window {
        left: 35%;
        top: 160%;
    }
}

@media (max-width: 600px) {
    .modal-window {
        left: 35%;
        top: 215%;
    }
}